#profile {
    border: 2px solid black;
    float: right;
}

    #profile:after {
        content: " ";
        display: block;
        clear: both;
    }

#menu {
    border: 2px solid black;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
}

#uploadAvatar {
    display: none;
}

#heroesInformation {
    border: 5px solid black;
    width: 30%;
    height: 500px;
    float: left;
    overflow: scroll;
}

#unitsInformation {
    display: inline-block;
    border: 3px solid black;
}

#app .noVisible {
    display: none;
}

#app .visible {
    display:inherit;
}

.singleBaseUnit {
    border: 1px solid red;
}
